# dependencies
node_modules/

# Next.js
.next/
out/
dist/

# Functions build output
functions/lib/

# env
.env
.env.*
!.env.example
!.env.local.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log

# misc
.DS_Store
.vercel
.firebase/
.idea/
.vscode/
